<ul
	xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
	<li>
		<a href="index.html">IG Home</a>
	</li>
	 <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Business Requirements
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="sequence-diagrams.html">Sequence Diagrams</a>
      </li>
       <li>
        <a href="use_cases.html">Use Cases</a>
      </li>
      <li>
        <a href="functional-requirements.html">Functional Requirements</a>
      </li>
      <li>
        <a href="non-functional-requirements.html">Non-Functional Requirements</a>
      </li>
    </ul>
  </li>

   <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Technical Specifications
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    
      <li>
        <a href="artifacts.html">Artifacts</a>
      </li>
    </ul>
  </li>

   <li>
    <a href="downloads.html">Downloads</a>
  </li>
</ul>      